.fullscreen-item {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
  background-color: var(--background-post);
}

.fullscreen-item__picture img {
  width: 500px;
}

.fullscreen-item__props {
  margin-left: 20px;
  margin-top: 50px;
}

.fullscreen-item__props_right {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.fullscreen-item__props_right_name {
  color: var(--link);
  text-decoration: none;
  font-weight: 300;
}

.fullscreen-item__props_right_name:hover {
  color: var(--link-hover);
  transition: all 0.15s;
}

.fullscreen-item__closebtn {
  position: absolute;
  top: 10px;
  right: 30px;
  border: none;
  background-color: var(--background-post);
  padding: 0;
}

.fullscreen-item__closebtn:before {
  content: 'x';
  font-weight: 500;
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .fullscreen-item {
    flex-direction: column;
  }

  .fullscreen-item__picture {
    margin-top: 20px;
  }

  .fullscreen-item__picture img {
    width: 90vw;
  }

  .fullscreen-item__props {
    display: flex;
    justify-content: space-around;
    margin-left: 0;
    margin-top: 20px;
  }

  .fullscreen-item__props_right {
    margin-top: 0;
  }
}
